@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Montserrat", serif;
    --font-secundary: "Roboto", serif;
    --font-action: "Josefin", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
}

footer {
    width: 100%;
    height: 2.9rem;
    background-color: #2a334aa8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #fff;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem 0;
    font-size: 1.8rem;
}

.social-list ul {
    display: flex;
}

i.fab.fa-whatsapp {
    color: #4CCB5A;
}

i.fab.fa-github {
    color: #302F2F;
}

i.fab.fa-facebook {
    color: #1670E7;
}

i {
    transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -ms-transition: all 1.2s;
    -o-transition: all 1.2s;
}

i:hover {
    font-size: 2rem;
}

#link-topo {
    font-size: 1.4rem;
    position: fixed;
    right: 2.4rem;
    bottom: 0.5rem;
    width: 1.9rem;
    height: 1.9rem;
    border-radius: 6%;
    background: #536976;
    /*fallbackforoldbrowsers*/
    background: -webkit-linear-gradient(to right, #536976, #292E49);
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to right, #536976, #292E49);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 6%;
    -moz-border-radius: 6%;
    -ms-border-radius: 6%;
    -o-border-radius: 6%;
    box-shadow: 1px 1px white;
    color: #fff;
}