@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Montserrat", serif;
    --font-secundary: "Roboto", serif;
    --font-action: "Josefin", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 12px;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 50000;
    right: 2rem;
    top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.7s;
    -webkit-transition: all 1.7s;
    -moz-transition: all 1.7s;
    -ms-transition: all 1.7s;
    -o-transition: all 1.7s;
}

.abrir-menu .hamburguer {
    right: 16rem;
    transition: all 1.7s;
    -webkit-transition: all 1.7s;
    -moz-transition: all 1.7s;
    -ms-transition: all 1.7s;
    -o-transition: all 1.7s;
}

.hamburguer span {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 187);
    color: #fff;
    font-family: var(--font-action);
    visibility: hidden;
}

.hamburguer span::before {
    content: "";
    position: absolute;
    border-right: .5rem solid rgb(32, 32, 187);
    border-left: .5rem solid transparent;
    border-top: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.abrir-menu .hamburguer:hover span {
    visibility: visible;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 0.8px;
    transition: all 1.6s;
    -webkit-transition: all 1.6s;
    -moz-transition: all 1.6s;
    -ms-transition: all 1.6s;
    -o-transition: all 1.6s;
}

.abrir-menu #line1 {
    transform: rotate(45deg) translate(.3rem, .5rem);
    -webkit-transform: rotate(45deg) translate(.3rem, .5rem);
    -moz-transform: rotate(45deg) translate(.3rem, .5rem);
    -ms-transform: rotate(45deg) translate(.3rem, .5rem);
    -o-transform: rotate(45deg) translate(.3rem, .5rem);
}

.abrir-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.abrir-menu #line3 {
    transform: rotate(-45deg) translate(.3rem, -.4rem);
    -webkit-transform: rotate(-45deg) translate(.3rem, -.4rem);
    -moz-transform: rotate(-45deg) translate(.3rem, -.4rem);
    -ms-transform: rotate(-45deg) translate(.3rem, -.4rem);
    -o-transform: rotate(-45deg) translate(.3rem, -.4rem);
}

.side-bar {
    z-index: 999;
    width: 20rem;
    height: 100vh;
    background-color: rgba(40, 50, 76, 0.9);
    position: fixed;
    top: 0;
    right: -21rem;
    opacity: 1;
    transition: all 1.8s;
    -webkit-transition: all 1.8s;
    -moz-transition: all 1.8s;
    -ms-transition: all 1.8s;
    -o-transition: all 1.8s;
}

.abrir-menu .side-bar {
    color: #fff;
    right: .4rem;
    transition: 1.8s;
    -webkit-transition: 1.8s;
    -moz-transition: 1.8s;
    -ms-transition: 1.8s;
    -o-transition: 1.8s;
}

.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.menu-item {
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link {
    font-family: var(--font-action);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    letter-spacing: .1rem;
    transition: color 1s;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    z-index: 50000;
}

.menu-link:hover {
    color: #fff;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-media i {
    width: 5rem;
    height: 5rem;
    font-size: 2.6rem;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

i.fab.fa-whatsapp-square {
    color: #4CCB5A;
}

i.fab.fa-github-square {
    color: #302F2F;
}

i.fab.fa-facebook-square {
    color: #1670E7;
}

.social-media i:hover {
    color: #fff;
    font-size: 3.7rem;
    transition: font-size 1s;
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -ms-transition: font-size 1s;
    -o-transition: font-size 1s;
}