@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Tegomin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img_wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    animation: zoom 30s;
    -webkit-animation: zoom 30s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 35%;
    left: 9%;
}

.banner h1 {
    color: #fff;
    font-size: 2.6rem;
    font-family: "Montserrat", serif;
    font-weight: 200;
    text-shadow: .2rem .2rem .5px rgba(0, 0, 0, .4);
    margin-bottom: 1.5rem;
    opacity: 0;
    animation: subir_info 1s 0.5s forwards;
    -webkit-animation: subir_info 1s 0.5s forwards;
}

.banner p {
    font-family: "Roboto", serif;
    font-size: 2rem;
    color: #fff;
    text-shadow: .1rem .1rem rgba(0, 0, 0, .6);
    font-weight: 350;
    margin-bottom: 1.4em;
    opacity: 0;
    animation: subir_info 1s 0.7s forwards;
    -webkit-animation: subir_info 1s 0.7s forwards;
}

.banner button {
    font-family: "Josefin", serif;
    color: #fff;
    opacity: 0;
    background: #536976;
    /*fallbackforoldbrowsers*/
    background: -webkit-linear-gradient(to right, #536976, #292E49);
    /*Chrome10-25,Safari5.1-6*/
    background: linear-gradient(to right, #536976, #292E49);
    /*W3C,IE10+/Edge,Firefox16+,Chrome26+,Opera12+,Safari7+*/
    padding: 1rem 3.4rem;
    border: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    animation: subir_info 1s 0.9s forwards;
    -webkit-animation: subir_info 1s 0.9s forwards;
}

.banner button:hover {
    opacity: 0.8;
    color: #000;
}

@keyframes subir_info {
    0% {
        opacity: 0;
        transform: translateY(10rem) rotateY(-30deg);
        -webkit-transform: translateY(10rem) rotateY(-30deg);
        -moz-transform: translateY(10rem) rotateY(-30deg);
        -ms-transform: translateY(10rem) rotateY(-30deg);
        -o-transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotateY(0deg);
        -webkit-transform: translateY(0) rotateY();
        -moz-transform: translateY(0) rotateY();
        -ms-transform: translateY(0) rotateY();
        -o-transform: translateY(0) rotateY();
    }
}